<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">{{title}} ({{pagin.total}})</h4>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>ชื่อผู้ใช้งาน</th>
                            <th>บัญชีรับเงิน</th>
                            <th>เครดิต</th>
                            <th>จำนวนแพ็คเกจลงทุน</th>
                            <th>สถานะ</th>
                            <th>เครื่องมือ</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of dataList" [ngClass]="{ 'inactive': item?.status =='BANDED'}">
                            <td>{{item?.username}}</td>
                            <td>
                                <ul class="small">
                                    <li>ธนาคาร: {{item?.bankName}}</li>
                                    <li>เลขบัญชี: {{item?.accountNumber}}</li>
                                    <li>ชื่อบัญชี: {{item?.accountName}}</li>
                                </ul>
                            </td>
                            <td>{{item?.credit | number}}</td>
                            <td>{{item?.invests.length | number}}</td>
                            <td class="text-center">
                                <span class="badge badge-pill mr-1"
                                    [ngClass]="{'badge-success': item?.status != 'BANDED' ,'badge-danger': item?.status == 'BANDED'}">{{item?.status}}</span>
                            </td>
                            <td class="overflow-hidden">
                                <div ngbDropdown container="body">
                                    <button type="button" class="btn btn-sm hide-arrow" ngbDropdownToggle
                                        data-toggle="dropdown">
                                        <i data-feather="more-vertical"></i>
                                    </button>
                                    <div ngbDropdownMenu>
                                        <a ngbDropdownItem href="javascript:void(0);"
                                            [routerLink]="['edit', item?._id]">
                                            <i data-feather="edit-2" class="mr-50"></i><span>แก้ไข</span>
                                        </a>
                                        <a *ngIf="item?.status == 'ACTIVE'" ngbDropdownItem href="javascript:void(0);"
                                            (click)="updateStatusItem(item?._id, 'BANDED')">
                                            <i data-feather="slash" class="mr-50"></i><span>แบน</span>
                                        </a>
                                        <a *ngIf="item?.status == 'BANDED'" ngbDropdownItem href="javascript:void(0);"
                                            (click)="updateStatusItem(item?._id, 'ACTIVE')">
                                            <i data-feather="slash" class="mr-50"></i><span>ปลดแบน</span>
                                        </a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr *ngIf="dataList.length == 0">
                            <td class="text-center" colspan="5">ไม่พบข้อมูล{{title}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="form-group mt-1">
                <pagination [total]="pagin.total" [limit]="params.limit" [pages]="pagin.pages" [page]="params.page"
                    (onPageChange)="pageChange($event)"></pagination>
            </div>
        </div>
    </div>
</div>